@model TankiGGG.Models.Tank

@{ ViewData["Title"] = "Details"; }


<div class="container">
    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <section>
        <div class="row">
            <!-- ASIDE -->
            <div class="col-md-5 col-lg-3">
                <div class="row">
                    <!-- ASIDE #1 -->
                    <aside class="col-sm-6 col-md-12 p-4">
                        <img src="~/images/image.jpg" class="img-thumbnail" alt="...">
                    </aside>
                </div>
            </div>
            <main class="col-7 col-lg-9 p-4">
                <h3>Общие сведения: @Html.DisplayFor(model => model.Name) </h3>

                Здоровье: @Html.DisplayFor(model => model.Health)<br /><br />
                Урон: @Html.DisplayFor(model => model.Damage)<br /><br />
                Пробитие: @Html.DisplayFor(model => model.Penetration)<br /><br />
                Урон в минуту: @Html.DisplayFor(model => model.DPM)<br /><br />
                Дальность обзора: @Html.DisplayFor(model => model.ViewRange)<br /><br />
                Цена: @Html.DisplayFor(model => model.Cost)<br /><br />
                Нация: @Html.DisplayFor(model => model.Nation.Name)<br /><br />
                Тип: @Html.DisplayFor(model => model.TankType.Name)<br /><br />
            </main>
        </div>
    </section>
</div>
<div class="mx-auto" style="width: 300px">
    <a class="btn btn-outline-info" asp-action="Index">Вернуться</a>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a class="btn btn-outline-info" asp-action="Update" asp-route-id="@Model.Id">Изменить</a>}
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>}
</div>